
@{
    ViewBag.Title = "DarbaPieredze";
}

<h1>Darba Pieredze</h1>

<p>
    2019.- Sia"Clean R"-Uzsaitvedis
    2018.-2018.12.21.    SIA” Paus Konsults” - Parādu piedziņas speciālists
    2018.                       SIA „Euro Live Technologies”- Tiešsaites spēļu zāles operātors
    2016.-2018.             Sia ‘FURORS’- Video kontroles speciālists
    2015.-2016.             “Simtel data services”- pārdošanas, piedziņas speciālists
    2015.                         SIA “AS.BALTIC”- Pārdošanas  speciālists
</p>

