
@{
    ViewBag.Title = "DarbaPieredze";
}

@Styles.Render("~/DarbaPieredze1/css")
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<body>
    <bg>
        <h1>Darba Pieredze</h1>
        <div class="row">
            <div class="column">
                <h2>2019.</h2>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="~/Content/Images/Image/1.jpg" alt=" 1" style="width:300px;height:200px">
                        </div>
                        <div class="flip-box-back">
                            <h2>2019.</h2>
                            <p>Sia"Clean R"-Uzsaitvedis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2>2018.</h2>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="~/Content/Images/Image/2.jpg" alt="2" style="width:300px;height:200px">
                        </div>
                        <div class="flip-box-back">
                            <h2>2018.</h2>
                            <p>SIA” Paus Konsults” - Parādu piedziņas speciālists</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <h2>2018.</h2>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="~/Content/Images/Image/3.jpg" alt=" 3" style="width:300px;height:200px">
                        </div>
                        <div class="flip-box-back">
                            <h2>2018.</h2>
                            <p>SIA „Euro Live Technologies”- Tiešsaites spēļu zāles operātors</p>
                        </div>
                    </div>
                </div>
                <h2>2016.-2018.</h2>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="~/Content/Images/Image/4.jpg" alt="4" style="width:300px;height:200px">
                        </div>
                        <div class="flip-box-back">
                            <h2>2016.-2018.</h2>
                            <p>Sia ‘FURORS’- Video kontroles speciālists</p>
                        </div>
                    </div>
                </div>
                <h2>2015.-2016.</h2>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="~/Content/Images/Image/5.jpg" alt="5" style="width:300px;height:200px">
                        </div>
                        <div class="flip-box-back">
                            <h2>2015.-2016.</h2>
                            <p>“Simtel data services”- pārdošanas, piedziņas speciālists</p>
                        </div>
                    </div>
                </div>
                <h2>2015.</h2>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="~/Content/Images/Image/6.jpg" alt="6" style="width:300px;height:200px">
                        </div>
                        <div class="flip-box-back">
                            <h2>2015.</h2>
                            <p>SIA “AS.BALTIC”- Pārdošanas  speciālists</p>
                        </div>
                    </div>
                </div>
</bg>
</body>


