
@{
    ViewBag.Title = "Izglitiba";
}
@Styles.Render("~/Izglitiba/css")
<body>
<h2>Izglitiba</h2>
<hr>
<div class="row">
    <div class="column">
        <div class="content">
            <img src="~/Content/Images/Image/vidusskola.jpg" alt="1" style="width:100%">
            <h3>Profesionālā vidusskola</h3>
            <p>
                2011.-2012.Ērgļu profesionālā vidusskola
                2012.-2015.Barkavas profesionālā vidusskola
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="content">
            <img src="~/Content/Images/Image/koledza.jpg" alt="2" style="width:100%" />
            <h3>Koledža</h3>
            <p>
                2015.-2017.Grāmatvedības un finanšu koledža
                ( nepabeigta- pēdējā kursā, prakse)
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="content">
            <img src="~/Content/Images/Image/hansa training.jpg" alt="3" style="width:100%" />
            <h3>Kursi</h3>
            <p>
                2017.-2018.Grāmatvedības kursi HANSA TRAINING
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="content">
            <img src="~/Content/Images/Image/52605363_526209747902351_3410273783292887040_o.jpg" alt="4" style="width:100%" />
            <h3>Kursi</h3>
            <p>
                2018.-2019.Riga coding school- programēšanas pamati (C#,JAVA,html,css,javascript )
            </p>
        </div>
    </div>
</div>
</body>

