
@{
    ViewBag.Title = "Kursi";
}

<h2>Kursi</h2>
<h3>
    KURSI
    2017.-2018.               Grāmatvedības kursi HANSA TRAINING, ( lai atsvaidzinātu                                     zināšanas)
    2018.-2019.       Riga coding school- programēšanas pamati (C#,JAVA,html,css,javascript )
</h3>

