
@{
    ViewBag.Title = "MotivacijasVestule";
}
@Styles.Render("~/MotivacijasVestule/css")
<bg>
    <st>
        <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
        <h2>Motivācijas vēstule</h2>
        <button onclick="typeWriter()">Uzpied mani !</button>
        <p id="demo"></p>
    </st>
</bg>
@Scripts.Render("~/bundles/MotivacijasVestule")
