
@{
    ViewBag.Title = "PersonasDati";
}

<h2>PersonasDati</h2>
<p>
    KRISTĪNE JEDUŠA
    Deklarētā  dzīvesvieta: Madonas novads, Ošupes pag. “Dūdiņas” LV-4833
    Faktiskā dzīvesvieta: Lokomotīves iela 32, Rīga
    Telefons: 22368910
    E-pasts: megapele66@inbox.lv
    Dzimšanas datums: 25.02.1996
</p>

