
@{
    ViewBag.Title = "PersonasDati";
}

@Styles.Render("~/PersonasDati/css")
<html>
<body>
    <link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'>
    <bg>
        <h2>Personas dati</h2>
        <br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="~/Content/Images/Image/Profil.jpg"
                         alt="Avatar" class="image" style="width:100%" />
                    <div class="container">
                        <h3>KRISTĪNE    JEDUŠA</h3>
                        <p>Deklarētā  dzīvesvieta: Madonas novads, Ošupes pag. “Dūdiņas” LV-4833</p>
                        <p>Faktiskā dzīvesvieta: Lokomotīves iela 32, Rīga</p>
                        <p>Telefons: 22368910</p>
                        <p>E-pasts: megapele66@inbox.lv</p>
                        <p>Dzimšanas datums: 25.02.1996</p>
                        <button class="button">Kontakti</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/Content/Images/Image/exel.jpg"
                     alt="Avatar" class="image1" style="width:100%" />
                <div class="container">
                    <h3>Word Fails</h3>
                    <p> CV papīra formātā </p>
                    <button class="button">Lejuplādēt</button>
                </div>
            </div>
        </div>
        </div>
    </bg>
</body>
</html>

