
@{
    ViewBag.Title = "PersonasDati";
}

@Styles.Render("~/PersonasDati/css")
<bc>
    <h2>PersonasDati</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/Content/Images/Image/Profil.jpg"
                     alt="Avatar" class="image" style="width:50%" />
                <div class="container">
                    <h3>KRISTĪNE JEDUŠA</h3>
                    <p>Deklarētā  dzīvesvieta: Madonas novads, Ošupes pag. “Dūdiņas” LV-4833</p>
                    <p>Faktiskā dzīvesvieta: Lokomotīves iela 32, Rīga</p>
                    <p>Telefons: 22368910</p>
                    <p>E-pasts: megapele66@inbox.lv</p>
                    <p>Dzimšanas datums: 25.02.1996</p>
                    <button class="button">Kontakti</button>
                </div>
            </div>
        </div>
    </div>
</bc>

