
@{
    ViewBag.Title = "Prasmes";
}
@Styles.Render("~/Prasmes/css")

<body>
    <button class="accordion">PRASMES</button>
    <div class="panel">
        <p>
            Visvieglāk aprakstīt prasmes ir izsakoties,
            ka varu piedzīt parādus, strādāt ar juridiskām lietām,
            nodarboties ar grāmatvedības lietām, kā arī kontrolēt
            un vadīt darbu. Patīk, ja darbs ir grūts, un ir jaatrod
            pieeja, lai to izpildītu. Tāpēc nebaidos no grūtībām.
        </p>
    </div>

    <button class="accordion">KOMUNIKĀCIJAS PRASMES</button>
    <div class="panel ">
        <p>Teicamas komunikācijas prasmes.</p>
    </div>

    <button class="accordion">ORGANIZATORISKĀS / VADĪBAS PRASMES</button>
    <div class="panel">
        <p>
            Strādājot drošības nodaļā pienākums bija kontrolēt,
            mācīt un palīdzēt filiāļu darbiniekiem, direktoriem
            un administrātoriem. Parādu piedziņa, svarīgākais ir
            sasniegt mērķi, mācēt organizēt laiku, tā, lai var paspēt pārsniegt vēlamos rezultātus.
        </p>
    </div>

    <button class="accordion">DIGITĀLĀS PRASMES</button>
    <div class="panel">
        <p>
            Teicamas datorprasmes ar (word, exel ,KEEPER, power point, IVMS,VMS,MSH, Snipping tools, tilde jumis,
            zalktis,Navision ,Visual Studio,Visual Studio Code un vēl dažādam programām)
        </p>
    </div>
</body>
@Scripts.Render("~/bundles/Prasmes")



