
@{
    ViewBag.Title = "VaditajaAplieciba";
}

@Styles.Render("~/VaditajaApliecibas/css")

<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<video autoplay muted loop id="myVideo">
    <source src="~/Models/Video/TOYOTA CELICA GT4 ST205  AG Films.mp4" audio/mp4" /> Your browser does not support HTML5 video
</video>
<div class="content">
    <h2>Vaditāja Apliecība</h2>
    <h3>  B kategorija (Savs auto (Toyota Celica),5 gadu pieredze autovadišana)</h3>
    <button id="myBtn" onclick="myFunction()">
        Pause
    </button>
</div>
@section scripts {
    @Scripts.Render("~/bundles/VaditajaAplieciba")
}