
@{
    ViewBag.Title = "Valodas";
}
@Styles.Render("~/Valodas/css")
<link href='https://fonts.googleapis.com/css?family=Wallpoet' rel='stylesheet'>
<body>
   <bg>
     <div class="all">
        <h1>Valodas</h1>
          <div class="element">
            <p>Latviešu valoda-dzimtā valoda
            </p>
          </div>
          <div class="element">
            <p>Krievu valoda-sarunvalodas līmenis
            </p>
          </div>
          <div class="element">
            <p>Angļu valoda- sarunvalodas līmenis
            </p>
          </div>
     </div>
   </bg>
</body>

