
@{
    ViewBag.Title = "Valodas";
}

<h1>Valodas</h1>
<p>
    <h2>DZIMTĀ VALODA</h2>
    <h3>Latviešu valoda</h3> 
    <h2>CITAS VALODAS</h2>
    <h3>
        Krievu valoda-sarunvalodas līmenis;
        Angļu valoda- sarunvalodas līmenis
    </h3>
</p>

