
@{
    ViewBag.Title = "Valodas";
}
@Styles.Render("~/Valodas/css")
<body>
    <link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>
    <h1>Valodas</h1>
    <div class="success">
        <p>
            <strong>Latviešu valoda</strong>
            Dzimtā valoda
        </p>
    </div>
    <div class="warning">
        <p>
            <strong>Krievu valoda</strong>
            sarunvalodas līmenis
        </p>
    </div>
    <div class="warning">
        <p>
            <strong>Angļu valoda</strong>
            sarunvalodas līmenis
        </p>
    </div>
</body>


