
@{
    ViewBag.Title = "Valodas";
}
@Styles.Render("~/Valodas/css")
<bg>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <div class="all">
        <h1>Valodas</h1>
        <div class="success">
            <p>
                <strong>Latviešu valoda</strong>
                Dzimtā valoda
            </p>
        </div>
        <div class="warning">
            <p>
                <strong>Krievu valoda</strong>
                sarunvalodas līmenis
            </p>
        </div>
        <div class="warning">
            <p>
                <strong>Angļu valoda</strong>
                sarunvalodas līmenis
            </p>
        </div>
    </div>
</bg>


