st {
    font-family: Amita;
    color:azure;
}
body {
    background-image: url(https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
button{
    color:cornflowerblue;
}