bc{
    background-image: url(https://images.pexels.com/photos/259707/pexels-photo-259707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    box-sizing:border-box;
}
*,*:before,*:after{
    box-sizing:inherit;
}
.column{
    float:left;
    width:50%;
    margin-bottom:16px;
    padding:0 8px;
}
@media screen and (max-width:650px){
    .column{
        width:50%;
        display:block;
    }
}

.container{
    float:left;
    padding:0 16px;
}
.container::after, .row::after{
    content:"";
    clear:both;
    display:table;
}
.button{
    border:none;
    outline:0;
    display:inline-block;
    padding:8px;
    color:white;
    background-color:#000;
    text-align:center;
    cursor:pointer;
    width:100%;
}
.button:hover{
    background-color:#555;
}




