html {
    box-sizing: border-box;
}
body {
    
    background-image: url(https://images.pexels.com/photos/259707/pexels-photo-259707.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
bg {
    font-family: Berkshire Swash;
}
.row{
    float:left;
}
*,*:before,*:after{
    box-sizing:inherit;
}
.column {
    float: left;
    width:40%;
    height: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
}
@media screen and (max-width:650px){
    .column{
        width:100%;
        display:block;
    }
}
.card{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.8);
}

.container{
    padding:0 16px;
    color:navajowhite;
}
.container:after, .row:after{
    content: "";
    clear:both;
    display:table;
}
.button{
    border:none;
    outline:0;
    display:inline-block;
    padding:8px;
    color:white;
    background-color:#000;
    text-align:center;
    cursor:pointer;
    width:36%;
}
.button:hover{
    background-color:#555;
}




