html{
    box-sizing:border-box;
}
bg {
    font-family: Berkshire Swash;
    background-image: url(https://images.pexels.com/photos/259707/pexels-photo-259707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
*,*:before,*:after{
    box-sizing:inherit;
}
.column{
    float:left;
    width:40%;
    margin-bottom:16px;
    padding:0 8px;
}
@media screen and (max-width:650px){
    .column{
        width:100%;
        display:block;
    }
}
.card{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.8);
}

.container{
    padding:0 16px;
    color:darkviolet;
}
.container::after, .row::after{
    content: "";
    clear:both;
    display:table;
}
.button{
    border:none;
    outline:0;
    display:inline-block;
    padding:8px;
    color:white;
    background-color:#000;
    text-align:center;
    cursor:pointer;
    width:36%;
}
.button:hover{
    background-color:#555;
}




