

.accordion {
    background-color: blue;
    color: wheat;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
   
}

.active.accordion:hover {
    background-color: aqua;
}

.panel {
    padding: 0 20px;
    background-color: white;
    display: none;
    overflow: hidden;
}
